@mixin roboto_light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin roboto_bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@mixin roboto_black {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}