@import 'libs/bootstrap-reboot.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0;
}


@import 'blocks/contacts';
@import 'blocks/header';
// @import 'blocks/promo';
