.promo {
    min-height: 100vh;
    position: relative;
    background: url(../img/main_bg.jpg) no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        @include before_circle;
        z-index: 2;
    }

    &__inner {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }

    &-link {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        height: 45px;
        width: 100%;
        text-align: center;
        line-height: 45px;
        &:hover {
            height: 45px;
            background: $main-color;
            color: #000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
}